<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/public/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">赛况推送</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">当前球队</label>
              <div class="layui-input-inline" style="width: 100px;">
                <select name="team-1" lay-verify="required" lay-filter="aihao">
                  <option value=""></option>
                  <option value="0">魔术</option>
                  <option value="1">火箭</option>
                  <option value="2">灰熊</option>
                  <option value="3">小牛</option>
                </select>
              </div>
              <div class="layui-form-mid">-</div>
              <div class="layui-input-inline" style="width: 100px;">
                <select name="team-2" lay-verify="required" lay-filter="aihao">
                  <option value=""></option>
                  <option value="0">魔术</option>
                  <option value="1">火箭</option>
                  <option value="2">灰熊</option>
                  <option value="3">小牛</option>
                </select>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">当前比分</label>
              <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="score-1" placeholder="00" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid">-</div>
              <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="score-2" placeholder="00" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">进行时间</label>
            <div class="layui-input-inline">
              <input type="text" name="duration" class="layui-input" id="test-laydate-type-time" placeholder="HH:mm:ss">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">赛况内容</label>
            <div class="layui-input-block">
              <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
              <div class="layui-footer" style="left: 0;">
                <button class="layui-btn" lay-submit="" lay-filter="component-form">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    
  <script src="/public/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/public/' //静态资源所在路径
  }).extend({
    index: '/public/lib/index' //主入口模块
  }).use(['form', 'upload', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form
    ,upload = layui.upload;
    
    form.render(null, 'component-form-group');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });

    //时间选择器
    laydate.render({
      elem: '#test-laydate-type-time'
      ,type: 'time'
    });
    
    /* 监听提交 */
    form.on('submit(component-form)', function(data){
      parent.layer.alert(JSON.stringify(data.field), {
        title: '最终的提交信息'
      });
      return false;
    });
  });
  </script>
</body>
</html>
